<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <style>
          #get{
              font-family: 'monument';
              color: rgb(21, 91, 109);
          }
          #connect{
              font-family: 'monument';
              color: rgb(6, 110, 88);
          }
         
      </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><span id="get">GET</span> <span id="connect">CONNECT</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newsfeed">News Feed</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link " href="/profile" tabindex="-1" aria-disabled="true">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/chat" tabindex="-1" aria-disabled="true">Chat</a>
              </li>
          </ul>
          <a href="/logout" class="btn btn-danger mr-4">Logout</a>
          <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
            <input class="form-control mr-sm-2" type="search" name="username" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>


 