<% include ./partials/header.ejs %>
<style>
  .jumbotron{
    height: 50vh;
    background-image: url('https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position-y: 550px;
  }
</style>

<div class="jumbotron">
  <br><br>
  <h1 class="display-4">Hey Lovely People!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  
 
  <a class="btn btn-primary btn-lg" href="/login" role="button">Join Now</a>
</div>
<div class="container">
  <h3 class="mt-2 mb-5 text-center">Know More About <span class="text-primary">Get Connect</span></h3>
  <div class="card-columns">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1506863530036-1efeddceb993?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=941&q=80"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Anonymous App to put your thoughts.</h5>
        <p class="card-text">The beauty of this app is that you can share your thoughts anonymously and no one will be
          able to know who you were.</p>
      </div>
    </div>
    <div class="card p-3">
      <blockquote class="blockquote mb-0 card-body">
        <p>Life is what happens when you’re busy making other plans.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            John Lennon
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">John Doe</h5>
        <p class="card-text">A man who has curly hairs looks way better than a man who looks ugly.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
      <blockquote class="blockquote mb-0">
        <p>Get busy living or get busy dying.</p>
        <footer class="blockquote-footer text-white">
          <small>
            Stephen King
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Who are you is as important as whou you were.</h5>
        <p class="card-text">Share such amazing writings to the people across the country and around the world.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
        class="card-img-top" alt="...">
    </div>
    <div class="card p-3 text-right">
      <blockquote class="blockquote mb-0">
        <p>You only live once, but if you do it right, once is enough.</p>
        <footer class="blockquote-footer">
          <small class="text-muted">
            Mae West
          </small>
        </footer>
      </blockquote>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jane Doe</h5>
        <p class="card-text">The truth you need to know more than that Earth is round, not flat is C & C++ is not
          important for jobs.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs %>
