<% include ./partials/header.ejs %>

<div class="container pt-5 mt-4">
    <h2 class="display-5">Hello, User 🤟</h2>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt, consequuntur quod nihil, quam
        obcaecati iure similique atque eius et impedit nam eveniet est.</p>
    <a href="/profile" class="btn btn-primary">I Want To Write A Post</a>
    <hr>
    <h4 class="lead">Latest Posts</h4>
    <div class="posts mt-3">
      
            <div class="post">
                <div class="postTop">
                    <div class="usrPrfl">
                        <img class="prflpic"
                            src=""
                            alt="a">
                    </div>
                    <div class="postDetails">
                        <a href="#"><h6>Pratik Singh</h6></a>
                       
                          
                     
                            <small>Bhopal</small>
                      
                    </div>
                </div>
                
        
    </div>
</div>

<% include ./partials/footer.ejs %>
